DB_HOST=testepratico
DB_PORT=3306
DB_DATABASE=testepratico
DB_USERNAME=root
DB_PASSWORD=root
APP_URL=http://localhost:8080
APP_DEBUG=false

#DB_HOST=localhost
#DB_PORT=3306
#DB_DATABASE=testepratico
#DB_USERNAME=
#DB_PASSWORD=
#APP_URL=http://localhost:8080
#APP_DEBUG=false

JWT_SECRET=DX44SvedN6l8HnlXVrkyJtwq1cfO0abQ3dh1mfBB0gOVe5ZQXH
JWT_EXPIRATION=86400
